<div class="flex-container">
    <div class="boxed">
        <header style="margin: auto;">Total Cases</header>
        <section class="total">{{totalCases}}</section>
        <footer style="margin: auto;">In India</footer>
    </div>
    
    <div class="boxed">
        <header style="margin: auto;">Total Deaths</header>
        <section class="deaths">{{totalDeaths}}</section>
        <footer style="margin: auto;">In India</footer>
    </div>
    
    <div class="boxed">
        <header style="margin: auto;">Total Cured</header>
        <section class="cured">{{totalCured}}</section>
        <footer style="margin: auto;">In India</footer>
    </div>
</div>